<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link href="{% static 'src/styles.css' %}" rel="stylesheet"/>
</head>
<body>
    
{%include '../components/_navbar.html' %}

<div class="flex flex-wrap space-x-8">
{% for blog in blogs %}
<div class="max-w-lg mx-auto">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
        <a href="#">
            <img class="rounded-t-lg" src="{{blog.image.url}}" alt="{{blog.title}}">
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="text-gray-900 font-bold text-2xl tracking-tight mb-2">{{blog.title}}</h5>
            </a>
            <p class="font-normal text-gray-700 mb-3">{{blog.subtitle}}</p>
            <p class="font-normal text-gray-700 mb-3">{{blog.description}}</p>
        </div>
    </div>
  
</div>
{% endfor %}
</div>
</body>
</html>
